button{
    font-family: 'Major Mono Display', monospace;
    font-size: 1rem;
    height: 32.1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: salmon;
    padding: 0 15.4px 0 15px;
    /* padding: 8px 16px; */
    border-radius: 0.2rem;
    border: 0;
    color: snow;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}